body {
    width: 100%;
    font-family: "Arial Black", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    box-sizing: border-box;
    color: darkslategray;

}

table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    border: none;
}

.text {
    border: none;
    text-align: center;
    vertical-align: middle;
}

.black {
    background-color: darkslategray;
}

.white {
    background-color: floralwhite;
}
