body {
    margin: 0 auto;
}

.slider {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider-item {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.hidden {
    visibility: hidden;
}

.slider-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.fa {
    color: white;
    opacity: 0.5;
    font-size: 70px;
    position: absolute;
    top: calc(50% - 35px);
    cursor: pointer;
}

.fa:hover {
    opacity: 1;    
}

.fa:active {
    opacity: 0.5;
}

.fa-chevron-left{
    left: 5%;
}

.fa-chevron-right{
    right: 5%;
}
