body {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.open-modal-window-btn {
    margin: 30px;
}

.modal-window {
    width: 30%;
    height: 110px;
    margin: 100px auto auto;
    background-color: #ccc;
    position: relative;
    padding: 30px 10px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.modal-window-txt {
    widows: 100%;
    font-size: 24pt;
    text-align: center;
    line-height: 30px;
    margin: 0;
}

.close-modal-window-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
