body {
    width: 80%;
    background-color: #f8f8f8;
    font-family: "Calibri", sans-serif;
    font-size: 16px;
    margin: 0 auto;

}

.catalog_content {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 10px;
}

.product {
    width: 280px;
    box-sizing: border-box;
    padding: 10px 25px 10px;
    margin: 0 20px 0;
    text-align: center;
    background-color: #D9E8F5;
    box-shadow: 0 0 7px #304269;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    justify-items: flex-end;
    
}

.product-name {
    font-size: 22px;
    color: #F26101;
    margin: 0;
    
}

.photo {
    width: 220px;
    height: 270px;
    margin: 10px auto 15px;
    display: block;
}

.btn {
    width: 220px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Calibri, sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #FFF;
    background-color: orange;
    overflow: hidden;
    border: none;
}

.btn:hover {
    outline: 2px double #F26101;

}

.btn:active {
    outline: 2px double #F26101;
    background-color: #F26101;
}

.desc {
    width: 220px;
    overflow: hidden;
    text-align: left;
    color: #304269;
}